<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="Transaction.xml"/>


    <bean id="userService" class="cn.edu.guet.service.impl.UserServiceImpl"></bean>
    <bean id="menuService" class="cn.edu.guet.service.impl.MenusServiceImpl"></bean>
    <bean id="vipService" class="cn.edu.guet.service.impl.VipServiceImpl"></bean>
    <bean id="serTypeService" class="cn.edu.guet.service.impl.SerTypeServiceImpl"></bean>
    <bean id="empService" class="cn.edu.guet.service.impl.EmpServiceImpl"></bean>
    <bean id="conRecordService" class="cn.edu.guet.service.impl.ConRecordServiceImpl"></bean>

</beans>