<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.EmpMapper">

    <select id="chooseEmp" resultType="emp">
        SELECT empId,empName from emp WHERE empLevel=#{value}
    </select>

    <select id="getEmpId" resultType="emp">
        SELECT empId FROM emp WHERE empname=#{value}
    </select>
</mapper>