<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.SerTpyeMapper">

	<resultMap id="showAll" type="sertp"></resultMap>
    <select id="showAllSerTpye" resultMap="showAll">
		SELECT serviceid,servicename,price FROM servicetype
	</select>

	<select id="getServiceId" resultType="sertp">
        SELECT serviceid FROM servicetype WHERE servicename=#{value}
    </select>
</mapper>